@charset "utf-8";

.inner {
    width: 88.785%;
    margin: 0 auto;
}

#header {
    position: absolute; /* absolute하면 쪼구라듦 */
    top: 2rem;
    left: 0;
    z-index: 999;

    width: 100%; /* 얘가 소속되어있는 곳은 viewport이기 때문에 그걸 기준으로 가로길이를 100% */
}

#header nav {
    height: 8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: none;
}

.logo a {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../img/logo-m.svg) no-repeat 50% / contain;
}

.util-menu {
    display: flex;
    gap: 1rem;
}

/* form요소는 모두 inline-block, inline은 html의 공백을 간격으로 해석함;; 그걸 flex시키면 딱 붙고 gap으로 조정하면 됨 */
.util-menu button {
    width: 4rem;
    height: 4rem;
    background: no-repeat 50%;

    border: 1px solid var(--white70p);
    border-radius: 50%;
}

/* button.btn-menu 사이 안 띄고 붙여쓰면 btn-menu인 button이라는 뜻 */
.util-menu button.btn-menu {
    background-image: url(../img/ico-menu.svg);
}

.util-menu button.btn-contact {
    background-image: url(../img/ico-contact.svg);
}

.visual {
    height: 52rem;
    background: cornsilk;

    position: relative;
}

.video-wrap {
    height: 100%;
}

.video-wrap::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* t0 + l0 + r0 + b0 = w100p + h100p = inset: 0 */

    background: var(--gradient);
    opacity: 0.8;
}

.visual-title {
    position: absolute;
    top: 14.9rem;
    left: 50%;
    transform: translateX(-50%);

    width: 38rem;
    width: 88.785%;
}

.visual-title h2 {
    font-weight: 700;
    font-size: 3.6rem;
    font-size: clamp(3.6rem, 4.6875vw, 6.8rem);
    color: #fff;
    line-height: 1.2;
}

.visual-title p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;

    margin-top: 2rem;
}

.btn-cta {
    background: #fff;
    color: var(--main-color);
    margin: 4.8rem auto 0;
}

.introduce {
    padding: 4rem 0;
    background: #f5f5f5;
}

.introduce-list li {
    display: flex;
    gap: 4rem;

    min-height: 16.8rem;
    padding: 1.2rem 0;
}

.introduce-list li::before {
    content: "";
    display: block;
    width: 9rem;
    aspect-ratio: 1;
    flex-shrink: 0;
    /* li p에게 flex-grow:1 을 줘서 얘는 줄어들어버림그래서 not shrink */
    background: no-repeat 50% / contain;
    /* bg: xxx xx xx / "bgi size" 
    cover: 100% auto = x축 100% y축 비율맞춰*/
}

.introduce-list li:nth-child(1)::before {
    background-image: url(../img/intro-ico1.png);
}
.introduce-list li:nth-child(2)::before {
    background-image: url(../img/intro-ico2.png);
}
.introduce-list li:nth-child(3)::before {
    background-image: url(../img/intro-ico3.png);
}
.introduce-list li:nth-child(4)::before {
    background-image: url(../img/intro-ico4.png);
}

.introduce-list li dl {
    /* width: 24.9rem;
    width: 65.5263%;
    width: calc(100% - 9rem - 4rem); */

    flex-grow: 1;
}

.introduce-list li dl dt {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
}
.introduce-list li dl dd {
    margin-top: 0.8rem;
    line-height: 1.5;
}

.introduce .btn {
    margin: 0 auto;
}

.competitive {
    padding: 6rem 0;
    background: url(../img/drone-pic3.jpg) no-repeat 100% 100% / 70% auto; /* bgi는 공간기준 % */
}

.competitive h2 + p {
    margin-top: 2rem;
}

.competitive-list-wrap {
    /* border: 1px solid rebeccapurple; */
    overflow-x: scroll; /* swiper대신 스크롤방식 */
    margin-top: 4.1rem;
}

.competitive-list {
    display: flex;
    gap: 1.1rem;

    /* 1.카운터 세팅 */
    counter-reset: competitive;
}

.competitive-list li {
    display: flex;
    gap: 2.4rem;

    width: 38rem;
    width: 100%;
    height: 12.5rem;
    padding: 1rem;

    border: 1px solid #fff;
    border-radius: 1rem;
    background: var(--white80p);
    backdrop-filter: blur(2px);

    flex-shrink: 0; /* 쪼그라들지마 명령 */

    /* 2.카운터 증가 */
    counter-increment: competitive;
}

.competitive-list li::before {
    /* 3. 카운터 적용 */
    content: counter(competitive);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 6rem;
    height: 6rem;

    border: 1px solid var(--black50p);
    border-radius: 50%;

    font-weight: 700;
    font-size: 3rem;
}

.competitive-list li p {
    font-size: 1.4rem;
    color: #a7acbc;

    /* 4줄 제한 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-list li {
    padding-bottom: 25rem;
    background: #fff;

    position: relative;
}

.product-list li figure {
    /* aspect-ratio: 1/1.215; */
    height: 52rem;
}

.product-list li .product-con {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);

    width: 38rem;
    width: 88.785%;
    min-height: 45rem;
    padding: 6rem 4rem;
    background: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list li .product-con h3 {
    font-weight: 700;
    font-size: 3rem;
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 1.2;
}

.product-list li .product-con p {
    margin-top: 2.4rem;
}

.product-list li .product-con .btn-black {
    margin-top: 2.4rem;
}

.newsletter {
    /* aspect-ratio: 1/1.028; */
    height: 44rem;
    background: url(../img/newslatter-bg.jpg) no-repeat 50% / cover fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-con {
    width: 38rem;
    width: 88.785%;
}

.newsletter-con h4 {
    font-weight: 700;
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 1.2;
    color: #fff;
    text-align: center;
}

.newsletter-con .form-wrap {
    height: 4.8rem;
    border: 1px solid #fff;
    border-radius: 6rem;
    background: var(--white20p);

    display: flex; /* flex공간의 item들은 세로길이를 stratch함 */
    overflow: hidden;

    margin-top: 4.8rem;
}

.newsletter-con .form-wrap input {
    background: transparent;
    width: calc(100% - 8.4rem);
    padding: 1px 2.8rem;
}

.newsletter-con .form-wrap input::placeholder {
    color: #fff;
}

.newsletter-con .form-wrap button {
    width: 8.4rem;
    border-radius: 6rem;
    background: #fff;
    color: var(--main-color);
}

#footer {
    padding: 8rem 0;
    background: #2c2e33;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}

#footer .foot-logo {
    display: block;
    width: 24.6rem;
    height: 3.6rem;
    background: url(../img/foot-logo.png) no-repeat 50% / contain;
}

#footer p {
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--white60p);
    text-align: center;
}

#footer p em {
    display: block;
    margin-top: 0.5rem;
}

/* 분기점 추가 */
@media screen and (min-width: 768px) {
    .introduce {
        padding: 12rem 0;
        /* 세로크기 비율로 바꿀때도 걍 고민말고
        vw 기준으로 하면 됨 */
        padding: 11.7188vw 0;
    }

    .introduce-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .introduce-list li {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* width: 47.8rem;
        width: 48.9754%;
        width: calc((100%- 2rem) / 2); */
        flex: 1 1 45%;
        min-height: 32rem;
        padding: 2rem 2.8rem;
        gap: 2.4rem;
    }

    .introduce-list li::before {
        width: 11.3rem;
    }

    .introduce-list li dl {
        width: 100%;
    }

    .introduce-list li dl dt {
        display: block;
        text-align: center;
    }

    .introduce-list li dl dd {
        font-size: 1.8rem;
        margin-top: 1.2rem;
    }

    .introduce .btn-black {
        margin-top: 10rem;
    }
}

/* 태블릿 디자인 */
@media screen and (min-width: 1024px) {
    .inner {
        width: 97.6rem;
        width: 95.3125%;
    }

    #header {
        top: 0;
    }

    #header nav {
        height: 9rem;
    }

    .logo a {
        width: 23.8rem;
        height: 4rem;
        background-image: url(../img/logo.png);
    }

    .visual-title {
        width: 66rem;
        width: 64.4531%;
    }

    .competitive {
        padding: 10rem 0 30rem;
    }

    .competitive h2 + p {
        font-size: 1.8rem;
    }

    .competitive-list-wrap {
        overflow: initial;
    }

    .competitive-list {
        flex-wrap: wrap;
        gap: 2.8rem 2rem;
    }

    .competitive-list li {
        flex-grow: 0; /* 공간이 있을 때 늘어남: 1(postive) 0(negative) */
        flex-shrink: 1; /* 공간이 없을 때 줄어듦 */
        flex-basis: auto; /* 기본 점유 공간 */
        /* 축약속성 */
        flex: 1 1 45%;

        width: initial;
    }

    .product-list li {
        padding-bottom: 20rem;
    }

    .product-list li .product-con {
        bottom: 0;
    }

    .product-list li .product-con p {
        font-size: 1.8rem;
    }

    .newsletter-con {
        width: 574px;
        /* width: 56.0547%; */
    }

    .newsletter-con .form-wrap {
        width: 40rem;
        width: 69.6864%;
        margin: 4.8rem auto 0;
    }
}

/* 분기점 추가 */
@media screen and (min-width: 1200px) {
    .product-list li {
        padding: 0;
        display: flex; /* df로 만들면 개체 가로길이 주기 */
    }

    .product-list li:nth-child(even) {
        flex-direction: row-reverse;
    }

    .product-list li figure {
        width: 50%;
        height: 56.4rem;
    }

    .product-list li .product-con {
        position: initial; /* =position: static (postion관련된 명령어 무시) */
        transform: initial;
        width: 50%;
        padding: 6rem;
    }
}

/* PC 디자인: .inner의 크기를 기준으로 */
@media screen and (min-width: 1500px) {
    .inner {
        width: 150rem;
    }

    .gnb {
        display: flex;
        margin-left: auto;
        margin-right: 2.8rem;
    }

    .gnb li a {
        display: block;
        padding: 2rem;

        font-weight: 600;
        font-size: 2rem;
        line-height: 1.2;
        color: #fff;
    }

    .util-menu button.btn-menu {
        display: none;
    }

    .util-menu button.btn-contact {
        background-image: none;
        width: 10.6rem;
        border-radius: 5rem;
    }

    .util-menu button.btn-contact i {
        position: initial;

        font-weight: 600;
        color: #fff;
    }

    .visual {
        height: 93.4rem;
        height: 100vh; /* viewport height를 다 씀 */
    }

    .visual-title {
        width: 90.5rem;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .introduce-list {
        flex-wrap: nowrap;
    }

    .introduce-list li {
        width: calc((100% - 6rem) / 4);
    }

    .competitive {
        background-size: 40%;
        padding: 12.4rem 0 13.6rem;
    }
    .competitive h2 + p,
    .competitive-list {
        width: 108rem;
        width: 72%;
    }

    .newsletter {
        height: 60rem;
    }

    #footer .inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #footer p {
        text-align: right;
    }
}
